include ../includes/logo

.bMessenger__eDummyLogo
    +logo(false, 'fast', true)

.bMessenger__eDummyHeader
    | Your ID:
    br
    span.bMessenger__eDummyHeaderID #{id}

.bMessenger__eDummyText For starting chat, add friend ID,<br />or send your ID to friend.
