include ./includes/logo

+logo(true)

form.bForm.mHidden.jsForm
    input.bForm__eInput(placeholder="Your name", value=user_name, name="user_name", maxlength="32")
    input.bForm__eInput(placeholder="Gravatar ID", value=user_id, name="user_id")

    .bForm__eExtended.jsAdvanced
        span.bForm__eExtendedLabel.jsToggleAdvanced Advanced options
        .bForm__eExtendedFields
            input.bForm__eInput.jsID(placeholder="Custom ID", value=id || last_id, name="id", maxlength="8")
            input.bForm__eInput(placeholder="Tunnel URL", value=url, name="url")

    button.bForm__eButton(type="submit") Start
