include ../includes/logo

.bMessenger__eDummyLogo
    +logo(false, 'fast', true)

.bMessenger__eDummyHeader
    | Your ID:
    br
    .bMessenger__eDummyID.jsText #{id}
    .bMessenger__eDummyText Send it to your friend

form.bMessenger__eDummyHeader
    | or
    br
    input.bMessenger__eDummyInput.jsAddContact(placeholder="Enter friend ID")
